services:
  phx:
    build: .
    labels:
      docker-rollout.pre-stop-hook: "touch /tmp/drain && sleep 10"
    restart: always
    environment:
      VIRTUAL_HOST: nathanwhyte.dev,www.nathanwhyte.dev
      SECRET_KEY_BASE: bp+2dSyIWML05cF5WBeRr2JikfXvCrgniPqgBxGiaQqHufcMY1PSwM9uRs7V3zAU
      DATABASE_URL: ecto://postgres:postgres@ecto:5432/nathanwhyte_dev
      PORT: 4000
    expose:
      - 4000
    deploy:
      replicas: 1
    healthcheck:
      test: test ! -f /tmp/drain
      interval: 5s
      retries: 1
    depends_on:
      - ecto

  ecto:
    image: postgres:alpine
    restart: always
    expose:
      - 5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nathanwhyte_dev
