<Layouts.app flash={@flash}>
  <div class="py-8 flex flex-col gap-16">
    <section class="flex flex-col gap-4">
      <h1 class="text-5xl pb-4 font-bold">
        Hello!
      </h1>

      <h1 class="text-7xl font-semibold">
        My name is <span class="font-extrabold bg-linear-to-r text-transparent from-violet-500 via-purple-400 to-fuchsia-500 bg-clip-text">Nathan Whyte</span>,
      </h1>

      <p class="text-3xl">it's a pleasure to meet you. <span>👋🏻</span></p>
    </section>

    <section class="flex flex-row gap-4 lg:gap-16">
      <div class="block max-w-52 text-center float-left">
        <div class="avatar">
          <div class="size-52 rounded-md">
            <img src={~p"/images/Headshot.png"} alt="Nathan Whyte" />
          </div>
        </div>
      </div>

      <div class="flex text-xl flex-col gap-4 max-w-5xl">
        <p class="text-2xl font-medium">
          I'm a <span class="font-bold text-purple-400">Full Stack Software Engineer</span>
          based in weird and wonderful <span class="text-amber-700 font-bold">Austin, Texas</span>. 🤘🏻
        </p>

        <p class="text-2xl">
          I'm passionate about working all across the stack, from <span class="font-bold text-purple-300">creating smooth, user-friendly UIs</span>,
          to <span class="font-bold text-violet-500">building performant backend APIs</span>,
          all the way to <span class="font-bold text-fuchsia-400">deploying scalable services to the cloud</span>.
        </p>

        <p>
          I love solving problems of all kinds, even the ones that keep me up late.
        </p>

        <%!-- TODO: update the links, then to cards with links --%>
        <p class="block">
          Find me on
          <Layouts.link_button
            href="https://www.linkedin.com/in/nathan-whyte/"
            label="LinkedIn"
            icon="hero-arrow-top-right-on-square-micro"
            target="_blank"
          /> and
          <Layouts.link_button
            href="https://github.com/nathanwhyte"
            label="GitHub"
            icon="hero-arrow-top-right-on-square-micro"
            target="_blank"
          />
        </p>
      </div>
    </section>

    <section class="grid xl:grid-cols-2 auto-rows-min gap-4 lg:gap-4">
      <h1 class="text-5xl font-medium col-span-full">
        Projects
      </h1>

      <div class="h-full rounded-md border border-violet-950 bg-violet-950/15 p-6 space-y-4">
        <Layouts.project_card_header>
          <:title>
            <.icon name="hero-star-micro" class="size-8 text-fuchsia-500" /> 🐋
            <span class="font-bold">Kubernetes Homelab</span>
          </:title>
          <:actions>
            <Layouts.link_button href="/" label="Stats" icon="hero-arrow-down-micro" />
            <Layouts.link_button
              href="https://github.com/nathanwhyte/homelab"
              label="GitHub"
              icon="hero-arrow-top-right-on-square-micro"
              target="_blank"
            />
          </:actions>
        </Layouts.project_card_header>

        <p>Self-hosted K3s Kubernetes cluster running on 4 Ubuntu Linux nodes.</p>
        <p>
          I host web applications, databases, data backups, an image registry, and much more from this cluster.
        </p>
        <p class="italic text-sm text-purple-fg/75">
          It's like AWS, if AWS was way cheaper and hosted entirely from my office next to my cat's food bowl.
        </p>
      </div>

      <div class="h-full rounded-md border border-violet-950 bg-violet-950/15 p-6 space-y-4">
        <Layouts.project_card_header>
          <:title>
            🪝 <span class="font-bold pl-2">Build Hook</span>
          </:title>
          <:actions>
            <Layouts.link_button
              href="https://github.com/nathanwhyte/build-hook"
              label="GitHub"
              icon="hero-arrow-top-right-on-square-micro"
              target="_blank"
            />
          </:actions>
        </Layouts.project_card_header>

        <p>My replacement solution for building images entirely in GitHub Actions runners.</p>
        <p>
          Instead, I just call a endpoint hosted within my homelab cluster that pulls the latest code from GitHub and kicks off a build process using Docker's
          <code class="px-1 py-0.5 border border-violet-800 bg-violet-800/25">buildx</code>
          Kubernetes driver. After the image build finishes, the necessary services and deployments are retstarted.
        </p>
        <p>
          Built using Rust's
          <Layouts.inline_link_button
            href="https://docs.rs/axum/latest/axum/"
            label="Axum"
            icon="hero-arrow-top-right-on-square-micro"
            target="_blank"
          /> web framework with configuration written in
          <Layouts.inline_link_button
            href="https://toml.io/en/"
            label="TOML"
            icon="hero-arrow-top-right-on-square-micro"
            target="_blank"
          /> .
        </p>
        <p class="italic text-sm text-purple-fg/75">
          I'll be stashing my GitHub Actions savings for a rainy DevOps day (any time I build a Next.js image).
        </p>
      </div>

      <div class="h-fit rounded-md border border-violet-950 bg-violet-950/15 p-6 space-y-4">
        <Layouts.project_card_header>
          <:title>
            🧠 <span class="font-bold pl-2">Personal Glossary</span>
          </:title>
          <:actions>
            <Layouts.link_button
              href="https://github.com/nathanwhyte"
              label="GitHub"
              icon="hero-arrow-top-right-on-square-micro"
              target="_blank"
            />
          </:actions>
        </Layouts.project_card_header>

        <p>Summary</p>
      </div>
    </section>
  </div>

  <%!-- TODO: projects section --%>

  <%!-- TODO: skills section --%>

  <%!-- IDEA: PNG fridge with certificates on it --%>

  <%!-- IDEA: "What's in My Homelab" section ("using", "experimenting", and "planning" categories) --%>
  <%!-- IDEA: Kubernetes health summary --%>
  <%!-- IDEA: Harbor registry stats --%>
</Layouts.app>
